bootstrap/cache/services.php

public/build

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor
**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*

phpunit.xml
.phpunit.result.cache
readme.md
phpspec.yml
laradumps.yaml
.styleci.yml

Dockerfile
docker-compose.yml
docker-compose-prod.yml
docker/development
build-docker.sh
